@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Satisfy', cursive;
    --c1:#d6d8db;
    --c2:#9ea0a6;
    --c3:rgba(53, 59, 71, 0.5);
    --c4:#393b40;
    --c5:rgba(45, 46, 49,0.8);

}

* {
    padding: 0px;
    margin: 0px;

}

html, body {
    min-height: 100vh;
    background-color: white;
    color:black;
    font-family: var(--font1);
}

header {
    font-family: var(--font2);
    background-color: black;
    color: white;
    text-align: center;
    text-indent: 30px;
}

header >h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 5vw;
}

header >p {
    padding-bottom:50px;
    font-weight: lighter;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    padding-top:10vh ;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2vw;
    
}

section > p {
    padding-bottom: 1.5em;
    border-radius: 10px;
}

section.n  {
    background-image: url(imagens/imagens/backgroundtxt.jpeg);
    background-size: cover;
    color: black;
    font-weight: bold;

    padding: 25px;
    padding-left: 10px;
}

section.i  {
    background-color:var(--c3);
    color: white;
    background-position: right center;
    background-size: cover;
    box-shadow:inset 2px 13px 18px black;
    background-attachment: fixed;
}

section.n > p {
    display: inline-block;
    padding: 5px;
} 

section.i >p {
    display: inline-block;
    padding: 5px;
    text-shadow:1px 1px 1px black;
}

section#i1 {
    background-image: url(imagens/imagens/background001.jpg);
    padding: 70px;
    padding-left: 10px;

}

section#i2 {
    background-image: url(imagens/imagens/background002.jpg);
    padding: 70px;
    padding-left: 10px;

}

section#i3 {
    background-image:url(imagens/imagens/background003.jpg);
    padding: 70px;
    padding-left: 10px;
}

section#i4 {
    background-image:url(imagens/imagens/background004.jpg);
    padding: 70px;
    padding-left: 10px;
}

section.i >p {
    background-color:var(--c5);
    padding: 10px;
    width: auto;
    
}
