@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
    --c1:#d6d8db;
    --c2:#9ea0a6;
    --c3:#6e7177;
    --c4:#393b40;
    --c5:#2c2d31;

}

* {
    padding: 0px;
    margin: 0px;

}

html, body {
    min-height: 100vh;
    background-color: #303030;
    color:aliceblue;
    font-family: var(--font1);
}

header {
    font-family: var(--font2);
    background-color: black;
    color: white;
    text-align: center;
    text-indent: 30px;
}

header >h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 5vw;
}

header >p {
    padding-bottom:50px;
    font-weight: lighter;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    padding-top:10vh ;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 1.5em;
}

section.n  {
    background-color:var(--c5);
    color: white;
    padding-left: 43px;
    padding-bottom: 0px;
}

section.i  {
    background-color:var(--c3);
    color: white;
}

section#i1 {
    background-image: url(imagens/imagens/background001.jpg);   
}

section#i2 {
    background-image: url(imagens/imagens/background002.jpg);
}

section.i >p {
    width: 600px;
    background-color:var(--c5);
    padding: 10px;
}
